body {
	min-height: 200px;
	font-family: 'Open Sans', sans-serif;
	background-color: whiteSmoke;
	width: 760px;
	margin: 0px auto;
	text-align: left;
	padding: 0;
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: georgian;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* @group Index */

.collumn {
	width: 400px;
}

.collumn .onlyTitle {
	padding-left: 10px;
}

.cv li {
	width: 100%;
}

.photo {
	float: right;
	margin-left: 80px;
	margin-bottom: 50px;
	margin-right: 30px;
	width: 256px;
	text-align: center;
}

.photo .image {
	width: 256px;
	height: 256px;
    border-radius: 128px;
}

.introduction {
	font-size: 210%;
	text-align: center;
}

.introduction p {
	margin-top: 0.66em;
}

.articles {
	padding-bottom: 10px;
}

hr.separator {
	margin: 0;
	padding: 0;
	color: #C2C2C2;
}

.languages {
	margin-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #C2C2C2;
	border-bottom: 1px solid #C2C2C2;
}

.goDownABit {
	margin-top: 40px;
}

/* @end */

/* @group Personal */

.personal {
	text-align: justify;
	padding-bottom: 20px;
}

/* @end */

/* @group History */

.upperBlock {
	width: inherit;
	top: 0;
	color: black;
	font-weight: bold;
	font-size: 90%;
	cursor: pointer;
	background-color: inherit;
	overflow: hidden;
    padding-bottom: 15px;
}

.upperBlock img {
	width: 32px;
}

.upperBlock li {
	display: inline-block;
	border-top: 3px solid transparent;
	padding: 3px;
	line-height: 15px;
	opacity: 0.35;
	transition : border 500ms ease-out; 
	-webkit-transition : border 500ms ease-out; 
	-moz-transition : border 500ms ease-out;
	-o-transition : border 500ms ease-out; 
}

.upperBlock li:hover {
	opacity: 0.7;
}

.upperBlock .selectedLanguage {
	border-top-color: #AF1616;
	opacity: 0.7;
}

.upperBlock .leftBlock {
	float: left;
}

.upperBlock .rightBlock {
	float: right;
}

.goBack {
	text-align: left;
	text-decoration: underline;
}

.intro {
	text-align: justify;
}

.fullText ul h2,
.fullText ul h3 {
	margin: 10px 0;
}

.fullText ul p {
	margin: 5px 0;
}

.fullText .dragBox {
	text-align: center;
}

.fullText .dragImage {
	background-color: gray;
	border-radius: 50px;
	padding: 25px;
	margin: 10px auto 0;
	text-align: center;
}

.goRight {
	float: right;	
}

.centerIt {
	text-align: center;
}

.goBack:before {
	content: "< ";
	font-weight: bold;
}

.subHeader {
	color: #3F3F3F;
	font-weight: bold;
	font-size: 110%;
}

.yearList li {
    margin: 1em 0;
}

#quoteCredits {
	font-style: italic;
}

/* @end */
